h1, h2 {
    font-family: 'Arial';
    color: darkcyan;
    font-weight: bold;
}

h3, p, ul {
    font-family: 'Roboto';
}

.navlinks li {
    text-align: center;
    display: inline-block;
    width: 100px;
    padding: 10px;
    background-color: lavender;

}

ul {
    list-style-type: none;
}