h1, h2 {
    font-family: 'Arial';
    color: darkcyan;
    font-weight: bold;
}

h3, p, ul {
    font-family: 'Roboto';
}

.navlinks li {
    display: inline;
    

}

ul {
    list-style-type: none;
    
}